/*!
 *  Font BF Tiny Hand 1.0.0 by @MarkFonts 
 *  License - SIL OFL 1.1
 */

$tinyhand-font-path:        "../fonts" !default;
$tinyhand-version:          "1.0.0" !default;

@font-face {
  font-family: 'BF Tiny Hand';
  src: url('#{$tinyhand-font-path}/BFTinyHand-Regular.eot?v=#{$tinyhand-version}');
  src: url('#{$tinyhand-font-path}/BFTinyHand-Regular.eot?#iefix&v=#{$tinyhand-version}') format('embedded-opentype'),
    url('#{$tinyhand-font-path}/BFTinyHand-Regular.woff2?v=#{$tinyhand-version}') format('woff2'),
    url('#{$tinyhand-font-path}/BFTinyHand-Regular.woff?v=#{$tinyhand-version}') format('woff'),
    url('#{$tinyhand-font-path}/BFTinyHand-Regular.ttf?v=#{$tinyhand-version}') format('truetype'),
    url('#{$tinyhand-font-path}/BFTinyHand-Regular.svg?v=#{$tinyhand-version}#fontawesomeregular') format('svg');
//  src: url('#{$tinyhand-font-path}/BFTinyHand-Regular.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}